.vscode
.idea
*.iml

dump.rdb
_ide_helper.php
.phpstorm.meta.php

.env
.env.backup
.phpunit.result.cache

docker-compose.override.yml
Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

/node_modules
/vendor

/dist
/public/build
/public/vendor
/public/hot
/public/storage

rr
.rr.yaml

/storage/*.key
/public/manifest.json
/resources/types/routes.d.ts
auto-imports.d.ts
components.d.ts
