.vscode
.idea

dump.rdb
_ide_helper.php
.phpstorm.meta.php

.env
.env.backup
.phpunit.result.cache

docker-compose.override.yml
Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

/node_modules
/vendor

/public/build
/public/vendor
/public/hot
/public/storage

/storage/*.key
